.hero{
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.hero-left{
    flex: 50%;
    align-items: center;
    justify-content: center;
}
.hero-text{
    width: 555px;
    color: #0B132A;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.hero-text p {
    color: #4F5665;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}

.hero-right{
    flex: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.hero-right img{
    width: 555px;
    height: 450px;
    object-fit: cover;
    border-radius: 7px;
    box-shadow: 0 0 1px 0 rgba(222, 222, 222, 0.5);
    transition: transform 0.3s ease;
}
.hero-right img:hover{
    transform: scale(1.1);;
}

.btn-main{
    border: none;
    width: 250px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F53838;
    color: #fff;
}


@media(max-width: 900px) {
    .hero{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding:10px;
    }

    .hero-left{
        padding: 20px;
        justify-content: center;
        align-items: center;
    }
    .hero-right img{
        width: 300px;
        height: 250px;
        object-fit: cover;
    }
    .hero-text{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
    }
}